<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/room">Rooms</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      
        <li class="nav-item">
              <a class="nav-link" routerLink="/cancel">Cancel Booking</a>
            </li>
    </ul>

    
  </div>
</nav>  
-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" style="font-size:25px;" >Miracle Royal Rooms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="sizes">
        <a class="nav-link"  routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/Rooms">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/Gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cancel">CancelBooking</a>
      </li>
    </ul>
    
  </div>

</nav>

<router-outlet>
</router-outlet>
