<div class="container">
  <div class="column grid">
    <div class="row one image">
      <ul> 
          <h3>MIRACLE HOTEL</h3><br>
      <div class="text">
        <li>
        <i class="fa fa-home"> Visakhapatnam,AP</i><br> </li>
        <li><i class="fa fa-phone"> 0891 669 6666</i><br></li>
         <li> <i class="fa fa-address-book"> Pedda Rushikonda, Rushikonda, Visakhapatnam, Andhra Pradesh 530042</i></li>
         
</div>       </ul>


    </div>
    <div class="row  grid">
       <div class="col-md-3 two" >
         
         <br>
          value:<br>
        <div class="progress">
          
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        Staff Service:<br>
        <div class="progress">
    
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        Rooms:<br>
        <div class="progress">
          
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        Location:<BR>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        Cleanliness:<BR>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
       Food :<BR>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

       </div>
        

     <div class="col-md-8 three" >
<div class="container"> 
    
         
    

        <form name="ngform">
  <br><br>
            <div class="form-group">
              <label >User Name</label>
              <input type="text" class="form-control" id="user" placeholder="username">
            </div>
            <div class="form-group">
                <label >Comment</label>
                <input type="text" class="form-control" id="rev" placeholder="Comments please..">
              </div>
              <div>
                <label>Rating</label>
                  <input type="text" class="form-control" id="rating" placeholder="give your rating out of 5">

              </div><br>
            <div>
            <button type="button" class="btn btn-primary " data-toggle="popover" data-cotent="Thank you....!">Submit</button>
          </div>
  
            
                
          </form>
</div>
     </div>
 
     </div> 